.chapter-container {
  margin-top: 50px;
}

.chapter-sponsors {
  text-align: center;
}

.chapter-sponsors__header {
  h2 {
    display: inline;
    color: $grey;
  }
}

.chapter-partners {
  text-align: center;
}

.chapter-partners__header {
  h2 {
    display: inline;
    color: $grey;
  }
}

.chapter-volunteers {
  text-align: center;
}

.chapter-header {
  h2 {
    display: inline;
    color: $grey;
  }
}
