.chapter-container {
  margin-top: 50px;
}

.chapter-intro__content {
  h3 {
    font-weight: bold;
  }
  p {
    font-size: 16px;
  }
}

.chapter-intro__time {
  font-weight: bold;
  font-size: 20px;
}

.chapter-contact {
  margin-top: 20px;
}

.chapter-contact__header {
  font-weight: bold;
  color: $grey;
}

.chapter-contact__content {
  > span {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 24px;
    margin-right: 5px;
  }
}

.chapter-contact--wechat {
  background: url('../images/chapter/wechat-icon.svg');
}

.chapter-share {
  margin-top: 20px;
}

.chapter-share__icon {
  width: 30px;
}

.chapter-share--wechat {
  .modal-content {
    width: 350px;
  }

  .modal-footer {
    text-align: left;
  }
}

.chapter-item {
  text-align: center;
  margin-top: 30px;
}

.chapter-item__header {
  h2 {
    display: inline;
    color: $grey;
  }
}

.chapter-photo__list {
  img {
    max-width: 300px;
  }
  margin-bottom: 50px;
}
