/*
Counter and countdown style
*/

.countdown-unit {
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
}

.countdown-unit__digit {
  font-size: 40px;
  height: 40px;
  overflow: hidden;
  font-weight: 700;
  line-height: 40px;
  font-family: $title-font;
  display: inline-block;
}
