/**call to actions**/
.cta{
    background-image: url('http://opvf95u4n.bkt.clouddn.com/bg3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    padding: 120px 0;
}
