/*
schedule
*/
.tabs-schedule{
    border-bottom: 2px solid #f5f5f5;
    margin-bottom:40px;
    margin-left:0px;
    >li{
        padding:0px;
        >a{
            font-size: 20px;
            display: block;
            padding:4px 20px;
            color:#333;
            font-family:$title-font;
            font-weight:700;
            margin-bottom:-2px;
            position:relative;
            &:after{
                content: "";
                width:0;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
                background: $primary-color;
                @include transition(width 0.4s);
            }
            span{
                font-size: 12px;
                display: block;
                color:#999;
                font-family: $primary-color;
                font-weight: 400;
            }
        }
        &.active{
            a{
                color: $primary-color;
                cursor: default;
            }
            a:after{
                width:100%;
            }
        }
        a:hover:after{
            width:100%;
        }
        a:hover{
            color: $primary-color;
        }
    }
}
.event-info{
    padding-right: 30px;
    text-align: right;
    font-style: italic;
    text-transform: uppercase;
    span{
        display: block;
        font-size: 16px;
    }
    .event-hall{
        margin-top: 10px;
        font-style: normal;
        font-size: 12px;
        padding: 3px 10px;
        border-right: 3px solid $primary-color;
        background: #f5f5f5;
    }
}
.event-detail{
    border-left:1px solid #ddd;
    padding-left:30px;
    position:relative;
    &:before{
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background: #ddd;
        position: absolute;
        left: -6px;
        top: 0px;
    }
    h3{
        font-family: $primary-font;
        font-style: italic;
        margin-bottom:20px;
        a{
            color: #777;
        }
    }
}

.schedule-item {
  margin: 0 50px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}

.schedule-item__banner {
  img {
    width: 100%;
  }
}

.schedule-item__date {
  font-weight: bold;
}

.schedule-item__header {
  padding-top: 25px;
}

.schedule-event {
  display: flex;
}

.schedule-event__img {
  width: 40%;
  margin-right: 5px;

  img {
    width: 100%;
  }
}

.border-top__blue {
  border-top: 5px solid #2196F3;
}

.border-top__pink {
  border-top: 5px solid #E91E63;
}

.border-top__purple {
  border-top: 5px solid #9C27B0;
}
