//some variables for ASSAN theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$primary-color:#f03939;//Theme default color code, paste your own code here
$primary-font:'Lato', sans-serif; //default font family
$title-font:'Montserrat', sans-serif;
$alert-color:red; //alert color
$black: #101010;
$blue: #23527c;
$white: #ffffff;

$grey: #c8c8c8;

$orange: #EC6C27;

$desktop: "(min-width: 768px)";
$mobile: "(max-width: 767px)";
