

//some variables for ASSAN theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$primary-color:#f03939;//Theme default color code, paste your own code here
$primary-font:'Lato', sans-serif; //default font family
$title-font:'Montserrat', sans-serif;
$alert-color:red; //alert color
